@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jersey 25';
  src: url('/fonts/Jersey25-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  overflow-x: hidden;
}